<% content_for :additional_stylesheets do %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css' %>
  <%= stylesheet_link_tag 'https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css' %>
  <%= javascript_include_tag 'https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js', defer: true %>
<% end %>

<div class="container dashboard">

  <div class="header">
    <div class="title">
      <h1>Calibre Data Grinder</h1>
      <%= image_tag('logo.png', alt: 'Calibre Data Grinder Logo') %>
    </div>

    <div class="settings">
      <strong><%= current_user.name %></strong>
      <%= link_to "Sign out", signout_path, id: "sign_out", class: "button" %>
    </div>
  </div>

  <div class="content">
      <%= form_tag({ controller: 'results', action: 'generate' }, method: 'post', class: 'controls', remote: true) do %>
        <div class="metric">
          <%= label_tag(:desired_metric, 'Metric:')%>
          <%= select_tag(:desired_metric, nil, required: true) %>
        </div>

        <div class="filters">
          <span>Filters:</span>
          <div class="filter">
            <%= label_tag(:desired_sites, 'Sites:')%>
            <%= select_tag(:desired_sites, nil,  multiple: true) %>
          </div>
          <div class="filter">
            <label for="metric_from">
              Metric:
            </label>
            <div class="from_to">
              <%= number_field_tag :metric_from, nil, min: 1, :step => 'any', placeholder: 'From' %>
              <%= number_field_tag :metric_to, nil, min: 1, :step => 'any', placeholder: 'To' %>
            </div>
          </div>
        </div>

        <%= submit_tag('Generate', class: 'button') %>
      <% end %>

    <div id="data-table">
      <div class="no_data">
        <p>There is no data loaded yet.</p>
      </div>
    </div>
  </div>

  <div class="button_div">
    <%= link_to 'https://calibreapp.com/', class: "button" do %>
    See more information on <%= image_tag('calibre_logo.svg', alt: 'CalibreApp Logo') %>CalibreApp
    <% end %>
  </div>

  <div class="footer">
    <hr>
    Source code: <%= link_to "Github", 'https://github.com/bsuchodolski-ng/calibre-data-grinder' %>
  </div>
</div>
